<!DOCTYPE html>
  <html>
    <body>
<div class="container">
      <p class="fs-1">Manage your bookings</p>
      <br><br>
    <div class="row">
      <div class="column">
        <h2> 
          Requests Made:
        </h2>
        <% @pending_bookings.each do |pending_booking| %>
          <p>
            <a href='/listings/<%= pending_booking['id'] %>/view'><%= pending_booking["title"] %></a>
            <br>
            <%= pending_booking["date"] %>
            <br>
          </p>
        <%end%>
      </div>
      <div class="column">
        <h2>
          Received Requests:
        </h2>
          <p><%=flash[:approval_notice]%></p>
          <%@received_requests.each do |request|%>
              <p>
                <a href='/listings/<%= request['listing_id'] %>/view'><%=request['title']%></a>
                <br>
                <%=request['date']%>
                <br>
                <%=request['username']%>
                <form action='/requests' method = 'post'>
                  <input type="hidden" name="user_id" value="<%=request['user_id']%>">
                  <input type="hidden" name="booking_id" value="<%=request['booking_id']%>">
                  <input type="submit", value ="Approve">
                </form>
                <br><br><br>
              </p>
          <% end %>
          
        </div>
      </div>
    </div>
</div>
    </body>
  </html>
  