<!DOCTYPE html>
  <html>
    <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>

    <div class="banner">
      <div class="banner_left">
        <a href='/'>Register</a> | 
        <a href='/login'>Login</a>
      </div>
      <div class="banner_right">  
        <a href='/listings'>View all Listings</a> | 
        <a href='/requests'>View all requests</a>
      </div>
    </div>

    <h1>
      <%= @current_listing.title %>
    </h2>

    <h2>
      £<%= @current_listing.price_per_night %> per night
    </h2>
    <br><br>
    <p>
      <%= @current_listing.description %>
    </p>
    <br><br>
    <%= flash[:notice] %>
    <ul>
        <%@available_dates.each do |booking|%>
          <div class="column">
            <%=booking.date%>
          </div>
          <div class="column">
            <form action="/listings/view" style="text-align:left;" method="post">
              <input type='hidden' name='listing_id' value='<%=@current_listing.id%>'/>
              <input type='hidden' name='booking_id' value='<%=booking.id%>'/>
         
              <input type="submit" value="Request Booking"/>
            </form>
          </div>
        <%end%>
    </ul>
    

    </body>
  </html>
  